v-env
.env
env
!.env.example
codechat/.env

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea

# Local settings and storage
settings.local.json
storage
server
.gitignore