[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/Mintplex-Labs/anythingllm-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/Mintplex-Labs/anythingllm-embed.git
	branch = main
[submodule "localsite"]
	path = localsite
	url = https://github.com/ModelEarth/localsite
[submodule "realitystream"]
	path = realitystream
	url = https://github.com/modelearth/realitystream
[submodule "feed"]
	path = feed
	url = https://github.com/modelearth/feed
[submodule "swiper"]
	path = swiper
	url = https://github.com/modelearth/swiper
[submodule "comparison"]
	path = comparison
	url = https://github.com/modelearth/comparison
[submodule "codechat"]
	path = codechat
	url = https://github.com/ModelEarth/codechat
